<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Простой мессенджер</title>
    <link rel="stylesheet" type="text/css" href="/static/css/messenger.css">
</head>
<body>
	<div class="wrapper">
		<header class="main-header">
			<button class="logout-btn" id="logoutBtn">Выйти</button>
		</header>
		<div class="container">
			<div class="user-list" id="userList">
				<div class="user-item" data-user-id="{{ current_user.id }}">
					Избранное
				</div>
				{% for user in users %}
					{% if user.id != current_user.id %}
						<div class="user-item" data-user-id="{{ user.id }}">
							{{ user.first_name + " " + user.last_name}}
						</div>
					{% endif %}
				{% endfor %}
			</div>
			<div class="chat-area hidden" id="chatArea">
				<div class="chat-header">
					<h2 id="chatTitle">Чат</h2>
				</div>
				<div class="chat-messages" id="chatMessages">
					<!-- Сообщения будут добавлены через JavaScript -->
				</div>
				<div class="chat-input">
					<input type="text" id="messageInput" placeholder="Введите сообщение...">
					<button id="sendButton">Отправить</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		const currentUserId = {{ current_user.id }};
	</script>
    <script src="/static/js/messenger.js"></script>
</body>
</html>